@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mycolor{
  color:#83888F
}

html {
  scroll-behavior: smooth;
}


body{
  background-color: #fefcf7;
}
.home-hero{
  height: 80vh;
}

/* SIDEBAR */
.sidebar div{
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(254, 252, 246) 200px,rgba(254, 252, 246, 0.5));
  padding:1.7rem 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
}

.mylinks .active h1{
  color:rgb(87, 201, 182);
}

.mylinks h1{
  font-size:14px;
  font-weight: 600;
  color:#83888F;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

footer{
  background: #2C3434;
}

.socials img{
  cursor: pointer;
}

.global-btn{
  background: #0E8684;
  color:#FEFCF7;
  font-family: 'Fraunces', serif;
  padding:20px 40px;
  text-align: center;
  border-radius: 11px;
  font-size: 21px;
  font-weight: 600;
  transition: background linear 0.3s;
}

.global-btn:hover{
  background: #1bcecb;
  transition: background linear 0.3s;
}

/* HOME */

.hero-texts h1{
  font-size: 70px;
  line-height: 80px;
  font-family: 'Fraunces', serif;
  color:#FEFCF7;
  font-weight: 700;
}

.hero-texts p{
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  color:#FEFCF7;
}

.collections img{
  width: 300px;
}

.collections h1{
  color:#333D4B;
  font-family: 'Fraunces', serif;
  font-size: 30px;
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
}

.collections p{
  color:#333D4B;
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 0 16px;
}

.collection-head{
  font-size: 11vw;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(61, 61, 61));
  -webkit-text-fill-color: transparent;
  color: #464646;
  display: inline-block;
}

.why-us{
  background:#293039 ;
}


.why-us h1{
  font-size: 40px;
  font-family: 'Fraunces', serif;
  color:#FEFCF7;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 20px;
}

.why-us p{
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  color:#FEFCF7;
  padding-bottom: 70px;
}

.card{
  /* height: 370px; */
  /* width: 100vw; */
  max-width:450px ;
  background: #0E8684;
  text-align: center;
  padding: 20px 8px 6px 8px;
  border-radius: 10px;
  margin-bottom: -190px;
}

.card h1{
  color:#FEFCF7;
  font-family: 'Fraunces', serif;
  font-size: 30px;
  padding: 12px 0;
  font-weight: 600;
}

.card p{
  color:#FEFCF7;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  padding: 3px 12px;
}

.circles h2{
  height: 30px;
  width: 30px;
  border-radius: 99999999999px;
  border:3px solid #0E8684;
  background: #fff;
  z-index: 1;
}

.circles h3{
  border-bottom:3px solid #FDD6BA;
}

.how h1{
  color:#83888F;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Fraunces', serif;
}

.how-options h1{
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 12px;
  color:#FDD6BA;
  font-family: 'Fraunces', serif;
}

.how-options h2{
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
  color:#202930;
  font-family: 'Fraunces', serif;
}

.how-options p{
  font-size: 17px;
  color:#202930;
  font-family: 'Barlow', sans-serif;
}


/************ ABOUT ************/
.commitment h1{
  font-size: 45px;
  font-family: 'Fraunces', serif;
  color:#333D4B;
  font-weight: 700;
  margin-bottom: 12px;
}
.commitment p{
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  color:#333D4B;
}

.about-img{
  height: 80vh;
}

.quality h1{
  font-size:33px;
  font-family: 'Fraunces', serif;
  color:#FEFCF7;
  font-weight: 700;
  margin-bottom: 5px;
}
.quality p{
  font-size: 19px;
  font-family: 'Barlow', sans-serif;
  color:#FEFCF7;
}

.how-options h3{
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  color:#333D4B;
  line-height: 40px;
}

.how-options img{
  width: 7vw;
  height: 17vh;
  margin: 75px 0;
}

.quality{
  height: 70vh;
}

.coffee-tea{
  width: 500px;
}

/************************ PLAN ****************/
.plan-img{
  height: 65vh;
}

.plan-quality{
  height: 84vh;
}


.circles-2 h2{
  height: 30px;
  width: 30px;
  border-radius: 99999999999px;
  border:3px solid #0E8684;
  background: rgba(24, 18, 18, 0);
  z-index: 1;
}

.circles-2 h3{
  border-bottom:3px solid #FDD6BA;
  margin: 0 5px;
  width: 96%;
}

.plan-options h1{
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 12px;
  color:#FDD6BA;
  font-family: 'Fraunces', serif;
}

.plan-options h2{
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 30px;
  color:#FEFCF7;
  font-family: 'Fraunces', serif;
}

.plan-options p{
  font-size: 17px;
  color:#FEFCF7;
  font-family: 'Barlow', sans-serif;
}

/* ORDER CARD */
.order-container{
  display: grid;
  grid-template-columns: 0.7fr 2.3fr;
}
.card-options div{
  padding:20px 0;
  border-bottom: 1px solid #4755682a;
  cursor: pointer;
}
.card-options div .title{
  font-size:26px;
  font-family: 'Fraunces', serif;
  color:#475568;
  font-weight: 700;
  opacity: 0.5;
  transition: 0.3s;
}

.card-options div .number{
  font-size:26px;
  font-family: 'Fraunces', serif;
  color:#475568;
  font-weight: 700;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.card-options div:hover .number{
  color:#0E8684;
  opacity: 1;
  transition: 0.3s;
}
.card-options div:hover .title{
 opacity: 1;
 transition: 0.3s;
}

.card-container{
  padding:0 4rem;
  height: 100vh;
  overflow-y: scroll;
}
.card-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.card-container::-webkit-scrollbar-thumb {
  background: #FF0000;
}



.card-container h1{
  font-size:35px;
  font-family: 'Fraunces', serif;
  color:#848990;
  font-weight: 700;
}

.card-holder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 3rem;
}
.order-card {
  padding:2rem 1rem 4rem 1rem;
  background: #f4f1eb;
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
}

.order-card:hover {
  cursor: pointer;
  background:rgb(241, 216, 184);
  transition: 0.3s;
}

.order-card:focus{
  background-color:#0E8684;
}

.order-card h2{
  font-size:24px;
  font-family: 'Fraunces', serif;
  color:#333D4B;
  font-weight: 700;
  margin-bottom: 5px;
}
.order-card p{
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color:#333D4B;
}

.newBg{
  background: red;
  padding:5rem;
}


/* SCALERS  */
@media screen and (max-width: 1280px) {
  .hero-texts{
    text-align: center;
  }
  .hero-texts h1{
    font-size:40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    
  }
  
  .hero-texts p{
    font-size: 16px;
    text-align: center;
  }
  .collections h1{
    font-size: 24px;
    text-align: left;
  }
  
  .collections p{
    font-size: 15px;
    text-align: left;
    padding: 0 0px;
  }
  .collections img{
    width: 250px;
  }
  .card{
    /* height: 370px; */
    /* width: 100vw; */
    max-width:100% ;
    /* background: #0E8684;
    text-align: center;
    padding: 20px 8px 6px 8px;
    /* border-radius: 10px;* */
    margin-bottom: 0px;
  }
}

.rotate{
  transform:rotate(180deg);
  transition: all .5s linear;
  cursor: pointer;
}
.rotate:hover{
  color:gold;
  transition: 0.4s;
}

.reverse{
  transform:rotate(0deg);
  transition: all .5s linear;
  cursor: pointer;
}

.summary {
  background: rgb(29, 28, 28);
  color: #fff;
  width: 100%;
  height:auto;
  border-radius: 10px;
  padding:1rem;
}
.summary h1{
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color:#333D4B;
}

.summary h2{
  font-size:24px;
  font-family: 'Fraunces', serif;
  color: #fff;
  font-weight: 700;
}

.summary span{
  color:#0E8684;
}

/* MODAL */
.modal-container{
  border-radius:12px;
  border: none;
}
.modal-header{
  font-size:35px;
  font-weight: 700;
  background:#333D4B;
  color:#fff;
  font-family: 'Fraunces', serif;
  padding:2.5rem 3rem;
  border-radius:12px 12px 0 0;
}
.modal h1{
  font-size:24px;
  font-family: 'Fraunces', serif;
  color:#333D4B;
  font-weight: 700;
}
.modal h2{
  margin: 2.5rem 0;
  font-size:15px;
  font-family: 'Barlow', sans-serif;
  color:#333D4B;
}

.modal span{
  color:#0E8684;
}








@media screen and (max-width: 1024px) {
  .commitment h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .commitment p{
    font-size: 16px;
  }
  .plan-options {
    text-align: center;
  }
  .plan-quality{
    height:115vh;
  }
  .order-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-container{
    padding:0rem;
  }

}


@media screen and (max-width: 768px) {
  .el-b{
    text-align: center;
  }

  .how-options h1{
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 0;
  }
  
  .how-options h2{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  
  .how-options p{
    font-size: 15px;
    margin-bottom: 2rem;
  }

  .why-us h1{
    font-size: 30px;
    font-weight: 500;
    padding-top: 70px;
  }
  
  .why-us p{
    font-size: 15px;
  }
  .commitment{
    text-align: center;
    margin-top: 1rem;
  }
  .quality h1{
    font-size:28px;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .quality p{
    font-size: 15px;
  }
  .quality{
    text-align: center;
  }
  .how{
    text-align: center;
  }
  .how-options img{
    width: 17vw;
    height: 17vh;
    margin: 75px auto;
  }
  .how h1{
    font-size: 32px;
    font-weight: 500;
  }
  
  .how-options{
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .how-options h3{
    font-size: 16px;
    line-height: 35px;
  }
  .plan-options h1{
    font-size: 60px;
    font-weight: 600;
  }
  
  .plan-options h2{
    font-size: 25px;
    font-weight: 600;
    padding-right: 0;
  }
  
  .plan-options p{
    font-size: 14px;
    padding:0 20px;
    margin-bottom: 2rem;
  }
  .card-container h1{
    font-size:30px;
    font-weight: 600;
  }
  .summary h1{
    font-size: 16px;
  }
 
}


@media screen and (max-width: 648px) {
  .collections h1{
    text-align: center;
  }

  .about-img{
    height: 60vh;
  }
  
  .collections p{
    text-align: center;
    padding: 0 0px;
  }
  .collections img{
    margin: 0 auto;
  }
  .collection-head{
    text-align: center;
    width: 100%;
  }
  .how-options h2{
    padding-bottom: -10px;
  }
}

@media screen and (max-width: 540px) {
  .home-hero{
    height: 69vh;
  }
  .how-options img{
    width: 25vw;
    height: 15vh;
  }
  .card-holder{
    grid-template-columns:1fr;
  }
  .order-card {
    padding:1rem 1rem 2rem 1rem;
  }
}